# Python Bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
.ruff_cache/

# Packaging and distribution
*.egg-info/
dist/
build/

# Local configuration / Environment variables
.env
.venv/
env/
venv/
